language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - 7.2

sudo: false

## Cache composer
cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer install --no-interaction --prefer-dist

script:
  - vendor/bin/phpunit
