<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" bootstrap="tests/bootstrap.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" verbose="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./src/DebugBar/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="DebugBar Test Suite">
      <directory>./tests/DebugBar/</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <extension class="Symfony\Component\Panther\ServerExtension"/>
  </extensions>
  <php>
    <server name="PANTHER_WEB_SERVER_DIR" value="./"/>
  </php>
</phpunit>
