<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
>
    <testsuites>
        <testsuite name="DebugBar Test Suite">
            <directory>./tests/DebugBar/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/DebugBar/</directory>
        </whitelist>
    </filter>
</phpunit>
