body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

a {
  color: #4ad7ff;
}

pre {
  padding: 10px;
  background: #EEE;
  border-radius: 3px;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#forkme {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 149px;
  height: 149px;
  background: url(assets/forkme.png) no-repeat;
}

#header {
  padding: 20px 0 30px 0;
}
  #header .brand {
    float: left;
    text-decoration: none;
  }
    #header .brand span {
      display: block;
      margin-top: 24px;
      font-size: 26px;
      font-weight: bold;
    }
  #header .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 24px;
  }
    #header .nav li {
      display: inline;
      margin: 0;
      padding: 0;
    }
      #header .nav a {
        display: inline-block;
        padding: 6px 13px;
        font-size: 20px;
        text-decoration: none;
      }
      #header .nav a:hover {
        text-decoration: underline;
      }

#intro {
  background: #4ad7ff;
  color: white;
  padding: 31px 0;
  font-size: 19px;
}
  #intro img {
    float: right;
  }
  #intro h1 {
    margin: 5px 0;
  }

#main {
  margin-top: 30px;
}
  #content {
    float: left;
    width: 600px;
  }
  #sidebar {
    float: right;
    width: 270px;
  }

#footer {
  background: #191818;
  color: #9a9a9a;
  margin-top: 50px;
  padding: 15px 0 20px;
  border-top: 2px solid #403d3d;
}
  #footer .column {
    float: left;
    width: 400px;
    margin-right: 50px;
  }
    #footer h2 {
      font-size: 18px;
    }
    #footer ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
      #footer li {
        display: inline;
        margin-right: 10px;
      }
  #footer .copy {
    text-align: center;
    font-size: 11px;
    padding-bottom: 10px;
  }

body {
    margin-bottom: 25px;
}

#tryit {
  font-weight: bold;
  background: #4ad7ff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
}
