#page {
    width: 1000px;
    margin: 0 auto;
}

#header {
    background: none;
    border: 0;
    padding: 30px 0 50px;
    height: auto;
}

#sidebar {
    padding: 0;
    padding-right: 20px;
}

#content {
    width: 729px;
    padding: 0;
    padding-left: 20px;
}

#header h1 a {
    color: #4ad7ff;
    text-decoration: none;
    text-shadow: none;
}
